@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Aluno @ViewData["Nome"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong> More info: </strong> <a href="https://www.linkedin.com/in/gustavopassos90/"> linkedin.com/in/gustavopassos90/</a>
    </address>
